{% extends 'base.html' %}

{% block content %}

  <div class='row'>
    <div class="col s10">

    <div class="card horizontal">

      <div class="card-stacked">
          <h4 class="header ml5">Buildings</h4>
        <div class="card-action">
          <a class="blue darken-4 btn"><i class="material-icons left">add</i>Agregar</a>
        </div>
        <div class="card-content">
          <table>
            <thead>
              <tr>  
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for building in buildings %}
              <tr>
                <td>{{ building.name }}</td>
                <td>
                  <a class="yellow darken-4 btn"><i class="material-icons">edit</i></a>
                  <a class="red darken-4 btn"><i class="material-icons">delete</i></a>
                  <a class="green darken-4 btn"><i class="material-icons">remove_red_eye</i></a>             
                </td>          
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
   </div>

{% endblock %}